html{
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
};
body {
    color: #333;
    display: flex;
    flex-direction: column;
  ;
}
.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  border: solid 5px rgb(239, 130, 46) ;
  
}
header {
  border: solid 5px rgb(202, 57, 24);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  width: fit-content;
 
}
nav{
  position:static;
  text-decoration: none;

}
nav ul li{
  justify-content: space-evenly;
  font-size: 30px;
  border: solid 1px grey;
  margin: 18px 18px;
  padding: 15px 13px;
  border-radius: 8px;
  text-align: center;
  background-color: #CD9984;
  
}
nav ul li:hover{
background-color: rgb(228, 138, 74);
transition: all 0.5s ease-in-out;
color: rgb(85, 113, 165);
}
a{
  color: #333;
  text-decoration: none;
}

img { 
width:25%;
height: 40%;
border-radius: 6px;
}
img:hover{
border-radius: 6px;
transform: scale(1.5);
box-shadow: 1px 1px rgba(0, 0, 0, 0.565);
transition: all 0.2s ease-in-out;
}

main {
border: solid 5px rgb(40, 149, 34) ;
 padding: 40px;
 display: flex;
 flex-direction: column;

}
article{
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 22px;

}
.photos{
 width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap ;
justify-content: space-around;
padding: 10px 80px 10px 0 ;

}

footer {
  border: solid 5px rgb(152, 36, 158) ;
  
}
.contacts{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center
}
.copy{
display: flex;
flex-direction: column;
 justify-content: center;
 margin-top: 45px;
}
ul {
    list-style: none;
}

@media screen and (min-width: 768px) {
    body {
      font-size: 14px;
      display: flex;
    }
    header {
      flex-direction: column;
    } 
    main {
      flex-direction: row;
    } 
    footer {
      flex-direction: row;
    } 
}