html{
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    zoom: 0.8;
}
body {
  display: flex;
  flex-direction: column;
  padding:0;
  margin: 0;
}

/* --------------------------HEADER------------------------------- */
header {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 60% 40%;
  align-items: center;
  border-radius: 5px;
  margin: 7% 2%; 
 
  
}
.logo{
  width:330px ;
  height:380px;
}
.logo img{
  width:70%;
  height:70%;
  margin-right: 6%;
  padding-left: 4%;
  
  
}
.logo img:hover{
  scale:0.8;
  transition: all 0.5s ease-in-out;
  transform: rotateY(180deg);
}
.navBis{
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: 20%;
}

.upPics:hover{
cursor:pointer;
margin-right: 2%;
behavior: smooth;
scale: 0.8;
}
.downPics{
  transform: rotateX(180deg);
  margin-top: 25%;
}
.downPics:hover{
  cursor:pointer;
  margin-right: 2%;
behavior: smooth;
scale: 0.8;
}
/* --------------------------NAVBAR------------------------------- */
nav{
padding-left: 3%;
text-decoration: none;

}
nav ul{
  display: flex;
  flex-direction: row;
}
nav ul li{
  justify-content: space-evenly;
  font-size: 30px;
  border: solid 3px  rgba(251,199,0,0.7);
  margin:  18px;
  padding: 15px ;
  border-radius: 8px;
  text-align: center;
  width: fit-content;
}
nav ul li:hover{
background-color: rgb(233, 158, 104);
transition: all 0.2s ease-in-out;
color: rgb(85, 113, 165);
}
ul {
  list-style: none;
}
a{
  color: #333;
  text-decoration: none;
}

/* --------------------------MAIN------------------------------- */
.mainHome { 
display: flex;
flex-direction: row;
justify-content: center;
font-family: 'Lato', sans-serif;
}

.bg-overlay{
  display: flex;
  border: 0;
  margin: 0 1%;
  justify-content:flex-start;
  height: 90vh;
  width: 45vw;
}
#decoBG{
--bg-image:url(./img/couvertNappeBlanche.jpg);
--bg-image-opacity:0.15;
position: relative;

/* isolate crée une nouvelle zone d'empilement. tt ce qui est dans la div que z-index ne peut échapper  */
isolation: isolate;
}
#decoBG ::after {
content: '';
background-image: var(--bg-image);
position: absolute;
z-index: -1;
inset: 0;
opacity: var(--bg-image-opacity);
background-repeat: no-repeat;
background-size: cover;
}
.articles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  padding: 5% 5%;
  
}
.articles h2{
  color: rgba(251,199,0,0.7); 

}
/* ---------------------Page Services--------------------- */
.mainService{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* -----------------Page Galerie photo&video-------------------- */
main{
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.galerie{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  height: fit-content;
}

.galerie ul{
  display: flex;
  flex-direction: row;
  padding-left: 15%;
  
}
.galeriePhotos{
flex-wrap: wrap;
justify-content: space-around;
  margin-left: 150px;
}
.galerieVideos{
  flex-wrap: wrap;
 justify-content: space-around;
  margin-left: 200px;
}
   li button{
    justify-content: space-evenly;
    font-size: 30px;
    border: solid 3px  rgba(251,199,0,0.7);
    margin: 18px 18px;
    padding: 15px 13px;
    border-radius: 8px;
    text-align: center;
    width: fit-content;
    background-color:#FFFFFF;
  }
  li button:hover{
    background-color: rgb(233, 158, 104);
    transition: all 0.5s ease-in-out;
    color: #333;
    cursor: pointer;
    }
  .galeriePhotos h2,.galerieVideos h2{
    border-radius: 5px;
    width: fit-content;
    background-color:rgba(249, 213, 70, 0.766);
    padding: 3px;
    font-family:'Lato', sans-serif;
   font-weight:400;
  }
  #photos img{
    height: 750px;
    width:650px;
  }

/* ----------------------FOOTER------------------------------- */
footer {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #2B2B2B;
  color: beige;
  border-radius: 5px;
 margin-top: 10%;
}
footer a{
  color: beige;
}
.trait_soulign{
  height: 1px;
  width: 75%;
  background-color: #fffae1;
  margin: 30px auto;
}
.contacts{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-self: center;

 

  
}
h2 i{
  display: inline;
}
.copy{
align-self: center;
padding-top: 120px;
}
/* 
/* --------------------------------------------------------------------------

                          RESPONSIVE MEDIA QUERY */


/* ------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------ */
@media screen and (max-width:400px) {
  header{
    display: flex;
    flex-direction: column;
    height: 200px;
    font-size: 20px;
    margin-bottom: 20%;
    margin-top: 20%;
  }
  .logo{
    align-self: center;
    margin: 0;
    padding: 0;
    width: 180px;
    height: 220px;
    justify-content: center;
   }
   .logo img{
    width: 120px;
    height: 150px;
   }
  nav{
    margin-right: 30%;
  }
nav ul li{
  padding: 0;
  height: fit-content;
  width: fit-content;
  margin: 3%;
}
}
@media screen and (max-width: 499px) {
  body{
    display:flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
   }
   .logo{
    margin: 0;
    padding: 0;
    width: 200px;
    height: 260px;
   }
   .logo img{
    width: 150px;
    height: 180px;
   }

nav ul li{
  display: inline-flex;
  padding: 0;
  height: fit-content;
  width: fit-content;
  margin: 3%;
}

.mainHome { 
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  } 
  .bg-overlay{
    justify-content: flex-start;
    border: 0;
    margin: 0 ;
    
    width: 100%;
  }
  #myVideo{
    border: 0;
    width: max-content;
    margin: 0 ;
    padding: 0;
  }
  
  

/* ----------------------FOOTER------------------------------- */
footer {
  display:grid;
  grid-template-columns: 100%;
  background-color: #2B2B2B;
  color: beige;
  border-radius: 5px;
 margin-top: 10%;
}
footer a{
  color: beige;
}
.trait_soulign{
  height: 1px;
  width: 75%;
  background-color: #fffae1;
  margin: 30px auto;
}
.contacts{
  display:grid;
  grid-template-columns: 100%;
}
h2 i{
  display: inline;
}
.copy{
align-self: center;
padding-top: 120px;
padding-left: 250px;
}
}


@media screen and (max-width: 599px) {

  header{
   display: flex;
   width: 100%;
  }
  .logo{
   margin: 0;
   padding: 0;
   width: 120px;
   height: 140px;
   justify-content: flex-start;
  }
  .logo img{
   width: 90px;
   height: 100px;
  }
 nav ul{
  display:grid;
  grid-template-columns: 100%;
  width: 100%;
 } 

 nav ul li{
 width:50%;
 padding: 0;
 height: fit-content;
 font-size: 25px;
 align-self: center;
 }
 
 
 .bg-overlay{
   justify-content: flex-start;
   justify-content: center;
   border: 0;
   height: 80%;
   width: 100%;
   
 }
 #myVideo{
   border: 0;
   width: fit-content;
   height: 100%;
   padding: 0;
   width: 100%;
   margin-right: 2%;
   margin-left: 2%;
  
 }
 
 .articles{
   font-size: 20px;
 }
 
 
 /* ----------------------FOOTER------------------------------- */
 footer {
 display:grid;
 grid-template-columns: 100%;
 background-color: #2B2B2B;
 color: beige;
 border-radius: 5px;
 margin-top: 2%;
 height: 500px;
 }
 
 .copy{
 align-self: center;
 padding-top: 30px;
 padding-left: 120px;
 }
 }
 



@media screen and (max-width: 700px) {

 header{
  display: flex;
  width: 100%;
 }
 .logo{
  margin: 0;
  padding: 0;
  width: 150px;
  height: 200px;
  justify-content: flex-start;
 }
 .logo img{
  width: 140px;
  height: 160px;
 }
 
nav ul li{
justify-content: flex-end;
display: inline-flex;
padding: 0;
height: fit-content;
width: fit-content;
margin: 3%;
font-size: 25px;
align-self: center;
font-size: 21px;
}

.upPics{
  height: 50px ;
  width: 50px ;
}
.downPics{
  transform: scaleY(-1);
};
.bg-overlay{
  justify-content: flex-start;
  justify-content: center;
  border: 0;
  height: 80%;
  width: 100%;
  
}
#myVideo{
  border: 0;
  width: fit-content;
  height: 100%;
  padding: 0;
  width: 100%;
  margin-right: 2%;
  margin-left: 2%;
 
}

.articles{
  font-size: 20px;
}


/* ----------------------FOOTER------------------------------- */
footer {
display:grid;
grid-template-columns: 100%;
background-color: #2B2B2B;
color: beige;
border-radius: 5px;
margin-top: 2%;
height: 500px;
}

.copy{
align-self: center;
padding-top: 70px;
padding-left: 160px;
}
}

/* -------------------------------------------------------------------------------- */
@media screen and (max-width: 899px) {
  
   header{
    display: flex;
    width: 100%;
    height: 220px;
   }
   .logo{
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 160px;
   }
   .logo img{
    width: 140px;
    height: 160px;
   }

nav ul li{
  display: inline-flex;
  justify-content: flex-end;
  padding: 0;
  height: fit-content;
  width: fit-content;
  margin-right: 5%;
  margin-bottom: 4%;
}

  .bg-overlay{
    display: flex;
    justify-content: flex-start;
    align-self: center;
    border: 0;
    margin-left:2%;
    margin-right:1%;
    width: 100%;
    height: 80%;
  }
  #myVideo{
    align-self: center;
    border: 0;
    width: 95%;
    margin-right:0%;
    padding: 0;
  }
  footer {
    display:grid;
    grid-template-columns: 100%;
    background-color: #2B2B2B;
    color: beige;
    border-radius: 5px;
    margin-top: 5%;
    height: 20%;
    }
    
    .copy{
    align-self: center;
    padding-top: 70px;
    padding-left: 200px;
    }
    
  }

/* ------------------------------------------------------------------------ */
@media screen and (max-width: 900px) {
   header{
    display: flex;
    width: 100%;
    height: 225px;
   }
   .logo{
    margin: 0;
    padding: 0;
    width: 200px;
    height: 180px;
    justify-content: flex-start;
   }
   .logo img{
    width: 150px;
    height: 180px;
   }

nav ul li{
  justify-content: flex-end;
  padding: 0;
  height: fit-content;
  width: fit-content;
  margin: 6%;
}

  .bg-overlay{ 
    justify-content: flex-start;
    justify-content: center;
    border: 0;
    margin: 0 ;
    height: 80%;
    width: 100%;
  }
  #myVideo{
  height: inherit;
    border: 0;
    width: 95%;
    margin: 0 ;
    padding: 0;
  }
  
/* ----------------------FOOTER------------------------------- */
footer {
  display:grid;
  grid-template-columns: 100%;
  background-color: #2B2B2B;
  color: beige;
  border-radius: 5px;
 margin-top: 5%;
 height: fit-content;
}
.copy{
align-self: center;
padding-top: 80px;
padding-left: 250px;
}
}

/* ---------------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
  
  header{
   display: flex;
   width: 100%;
   height: 225px;
  }
  .logo{
   margin: 0;
   padding: 0;
   width: 200px;
   height: 180px;
   justify-content: flex-start;
  }
  .logo img{
   width: 150px;
   height: 180px;
  }

nav ul li{
 justify-content: flex-end;
 padding: 0;
 height: fit-content;
 width: fit-content;
 margin: 6%;
 align-self: center;
}
.mainHome { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  }
 .bg-overlay{ 
   justify-content: flex-start;
   justify-content: center;
   border: 0;
   margin: 0 ;
   height: 80%;
   width: 100%;
 }
 #myVideo{
 height: inherit;
   border: 0;
   width: 95%;
   margin: 0 ;
   padding: 0;
 }
 #decoBG{
  margin: 3% 3% 3%;
 }
/* ----------------------FOOTER------------------------------- */
footer {
 display: flex;
 flex-direction: column;
 background-color: #2B2B2B;
 color: beige;
 border-radius: 5px;
margin-top: 5%;
height: fit-content;
}
.copy{
align-self: center;
padding-top: 80px;
padding-left: 250px;
}
} 
