html{
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
};
body {
  display: flex;
  flex-direction: row;
  padding:0;
  margin: 0;
}
/* --------------------------HEADER------------------------------- */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 1% 1%; 
  padding-bottom: 2%;
  
}
.logo img{
  width:70%;
  height:70%;
  margin-right: 6%;
  padding-right: 6%;
}

/* --------------------------NAVBAR------------------------------- */
nav{
padding-left: 3%;
text-decoration: none;

}
nav ul{
  display: flex;
  flex-direction: row;
}
nav ul li{
  justify-content: space-evenly;
  font-size: 30px;
  border: solid 3px  rgba(251,199,0,0.7);
  margin: 18px 18px;
  padding: 15px 13px;
  border-radius: 8px;
  text-align: center;
  width: fit-content;
}
nav ul li:hover{
background-color: rgb(233, 158, 104);
transition: all 0.5s ease-in-out;
color: rgb(85, 113, 165);
}
ul {
  list-style: none;
}
a{
  color: #333;
  text-decoration: none;
}

/* --------------------------MAIN------------------------------- */
.mainHome { 
display: flex;
flex-direction: row;
justify-content: center;
}

.bg-overlay{
  display: flex;
  border: 0;
  margin: 0 1%;
  justify-content:flex-start;
  height: 90vh;
  width: 45vw;
}
#decoBG{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background:url(./img/colombesBG.jpg) fixed no-repeat;
  background-size:cover;
 width: 55vw;
 border-radius: 4px;
 margin-right: 1%;
}
.articles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  padding: 5% 5%;
  
}
.articles h2{
  color: rgba(251,199,0,0.7);
}
.galerie ul{
  display: flex;
  flex-direction: row;
  padding-left: 15%;
  
}

   li button{
    justify-content: space-evenly;
    font-size: 30px;
    border: solid 3px  rgba(251,199,0,0.7);
    margin: 18px 18px;
    padding: 15px 13px;
    border-radius: 8px;
    text-align: center;
    width: fit-content;
    background-color:#FFFFFF;
  }
  li button:hover{
    background-color: rgb(233, 158, 104);
    transition: all 0.5s ease-in-out;
    color: #333;
    }
  .galerie-photos{
    display: flex;
  flex-wrap: wrap;
  }
  .galerie-photos img{
    height:15%;
    width:15%;
    padding: 5%;
    
  }
/* ----------------------FOOTER------------------------------- */
footer {
  display:flex;
  flex-direction: column;

  background-color: #2B2B2B;
  color: beige;
  padding-top: 2.5%;
  border-radius: 5px;
  margin-top: 2%;
  justify-content: flex-end;
}
footer a{
  color: beige;
}
.trait_soulign{
  height: 1px;
  width: 75%;
  background-color: #fffae1;
  margin: 30px auto;
}
.contacts{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-self: center;

 

  
}
h2 i{
  display: inline;
}
.copy{
align-self: center;
padding-top: 120px;
}


/* @media screen and (min-width: 768px) {
    body {
      font-size: 14px;
      display: flex;
    }
    header {
      flex-direction: column;
    } 
    main {
      flex-direction: row;
    } 
    footer {
      flex-direction: row;
    } 
} */