html{
    scroll-behavior: smooth;
};
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 38px;
    color: #333;
    display: flex;
    flex-direction: column;
   background-color: red;
}

header {
    background: blue;
    display: flex;
    flex-direction: row;
}
main {
    background: red;
}
footer {
    background: green;
}
ul {
    list-style: none;
}

@media screen and (min-width: 768px) {
    body {
      font-size: 14px;
      display: flex;
    }
    header {
      flex-direction: column;
    } 
    main {
      flex-direction: row;
    } 
    footer {
      flex-direction: row;
    } 
}